:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

.product {
    margin: 20px;
    display: grid;
    grid-template-columns: 42px 330px 1fr;
    gap: 20px;
}

.product img {
    display: block;
}

.product__images {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product__images a {
    border: solid 1px grey;
}

.product__images .active {
    border-color: yellow;
    box-shadow:  0 0 0 2px rgba(214, 214, 16, 0.652);
}

.product__image {
    position: relative;
}

.product__magnifier {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 1px rgb(42, 42, 197);
    background: rgba(46, 46, 241, 0.287);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
}

.product__image:hover .product__magnifier {
    opacity: 1;
}

.product__zoom {
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: calc(var(--left) + 20px);
    overflow: hidden;
    border: solid 1px grey;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.646);
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
}

.product__zoom.active {
    opacity: 1;
}