:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.product {
    display: grid;
    grid-template-columns: 40px 330px 1fr;
    gap: 20px;
}

.product img {
    display: block;
}